<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmlPro/static/jquery-3.3.1.js"></script>
     <link rel="stylesheet" href="/htmlPro/static/layui-v2.5.5/layui/css/layui.css">
    <script src="/htmlPro/static/layui-v2.5.5/layui/layui.js"></script>

    <link rel="stylesheet" href="/htmlPro/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/htmlPro/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <title>demo1的test1</title>
    <style>
        body{
            font-size: 10px;
        }
    </style>

</head>
<body>

    <!--todo 列表标签
        1： 无序列表 使用最多
             使用场景：新闻列表 商品列表 导航条目
             todo  ul>li*8快捷方式生成列表
        2： 有序列表
             很少用
        3： 定义列表
        dl>dt+dd
            1： 网站的尾部描述信息
            2：图文混排 如左边图片右边描述信息
    -->
    <ul>
        <li>北京</li>
        <li>上海</li>
        <li>广州</li>
    </ul>

    <ol>
        <li>无序列表</li>
        <li>无序列表</li>
        <li>无序列表</li>
    </ol>

    <dl>
        <dt>标题1</dt>
        <dd>描述</dd>
        <dt>标题2</dt>
        <dd>描述</dd>
    </dl>

    <dl>
        <dt></dt>
        <dd></dd>
    </dl>

</body>
<script>

</script>
</html>