<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmlPro/static/jquery-3.3.1.js"></script>
     <link rel="stylesheet" href="/htmlPro/static/layui-v2.5.5/layui/css/layui.css">
    <script src="/htmlPro/static/layui-v2.5.5/layui/layui.js"></script>

    <link rel="stylesheet" href="/htmlPro/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/htmlPro/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <title>demo1的test1</title>
    <style>
        body{
            font-size: 10px;
        }
    </style>

        <base target="_blank">
</head>
<body>

    <a href="/htmlPro/templates/demo1/text1.html">跳转1页面</a>
    <a href="#zhong">跳转到中部</a>
    <br>
    <a href="/htmlPro/templates/demo1/text1.html" target="_self">跳转2页面</a>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="zhong">我是中间</h1>

    <dl>
        <dt>北京</dt>
        <dd>中国的首都</dd>
        <dt>上海</dt>
        <dd>中国经济大都市</dd>
    </dl>

</body>
<script>

</script>
</html>