<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmlPro/static/jquery-3.3.1.js"></script>
     <link rel="stylesheet" href="/htmlPro/static/layui-v2.5.5/layui/css/layui.css">
    <script src="/htmlPro/static/layui-v2.5.5/layui/layui.js"></script>

    <link rel="stylesheet" href="/htmlPro/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/htmlPro/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <title>demo1的test1</title>
    <style>
        body{
            font-size: 10px;
        }
    </style>

</head>
<body>

    <!--todo 表格标签
       table: 表示整个表格信息表示一个表格
       tr: 表示表格的一行内容
       td: 表示一个单元格信息
    -->
    <table>
        <tr>
            <td></td>
        </tr>
    </table>

</body>
<script>

</script>
</html>